# editorconfig.org
# how to pretty code shortcut
#Windows - Shift + Alt + F
#MacOS - Shift + Option + F
#Ubuntu - Ctrl + Shift + I

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false